<div class="container mt-4">
  <h2>Índice</h2>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button"><a class="text-decoration-none" routerLink="/telefono">Cobro de Llamadas telefónicas por minuto</a></button>
    <button class="btn btn-primary" type="button"><a class="text-decoration-none" routerLink="/edades">Calcular la edad mayor</a></button>
    <button class="btn btn-primary" type="button"><a class="text-decoration-none" routerLink="/capicua">Verificador de números Capicua</a></button>
    <button class="btn btn-primary" type="button"><a class="text-decoration-none" routerLink="/tabla-ascii">Tabla ASCII</a></button>

  </div>

</div>
